{% extends 'problem/index.html' %}
{% block title %}<title>Search</title>{% endblock %}
{% block body %}
      <div class="jumbotron">
        <form class="form-search" method="POST" action="problem_list.html">{% csrf_token %}
            <input style="width: 80%;height: 43px" type="text" name ="search" class="input-medium search-query">
            <button type="submit" class="btn btn-primary">搜索</button>&nbsp;&nbsp;
        </form>
          <p>注：搜索可以按照主机名、IP地址、报修人员、问题、解决办法、处理人等字段搜索<p>
          <p>比如：lenvo-lihongxing-n  或者：172.16.12.1 或者：李红星  或者：蓝屏等支持模糊查询</p>
      </div>
       {% endblock %}
       {% block model %}{% endblock %}