<pre code_snippet_id="1981348" snippet_file_name="blog_20161112_1_1209908" name="code" class="java"> <div style="height: 90px;" class="default">  
 <p>${receiver.consignee}</p>  
  <p>${receiver.phone}</p>  
  <p>${receiver.address}</p></pre> <input type="button" class="btn upd" value="修改" data-toggle="modal" data-target="#addressModal" onclick="editAddress(${receiver.id},this)"><pre code_snippet_id="1981348" snippet_file_name="blog_20161112_1_1209908" name="code" class="html"></div></pre> 主要就是点击这个button弹出模态框，让div中的参数传递到模态框中。  
<pre></pre>  
<p></p>  
<pre></pre>  
<pre code_snippet_id="1981348" snippet_file_name="blog_20161112_2_9638961" name="code" class="html"><!--修改地址弹出层-->  
<pre code_snippet_id="1981348" snippet_file_name="blog_20161112_2_9638961" name="code" class="java">    <div class="modal fade" id="addressModal" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:50px; padding-left:0px">  
    <form id="saveAddForm" action="${base}/member/order/editAddressInfo.jhtml"  method="post" >  
     <input type="hidden" name="id" value="" id="rid"/>  
    <div class="modal-header" style="text-align: center">  
    <h3 id="myModalLabel">修改信息</h3>  
    </div>  
    <div class="modal-body">  
     <div class="row" style="padding-left:50px">  
        <div class="lable"><b>*</b>姓名</div>  
        <div class="input">  
            <input type="text" name="consignee" id="con" value="" placeholder="姓名"  style="width: 400px;height: 37px; float: left;"/>  
        </div>  
    </div>  
     <div class="row" style="padding-left:50px">  
        <div class="lable"><b>*</b>手机</div>  
        <div class="input">  
            <input type="text" name="phone" id="pho"  value="" placeholder="手机" style="width: 400px;height: 37px; float: left;" />  
        </div>  
    </div>  
     <div class="row" style="padding-left:50px">  
        <div class="lable"><b>*</b>地址</div>  
        <div class="input">  
            <input type="text"  name="address" id="add" value="" placeholder="地址" style="width: 400px;height: 37px; float: left;"/>  
        </div>  
    </div>  
      
    <div class="modal-footer" style="text-align: center">  
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>  
        <button type="submit" class="btn btn-primary">保存</button>  
    </div>  
    </div>  
    </form>  
    </div></pre><br>  
<!--弹出层结束-->  
<pre></pre>  
<br>  
传递参数的js代码如下：  
<p></p>  
<p><span style="font-size:18px"></span></p><pre code_snippet_id="1981348" snippet_file_name="blog_20161223_4_3732955" name="code" class="java">//模态框传值  
function editAddress(id,obj){  
$("#rid").val(id);  
var name=$(obj).parent().find('p')[0];//通过parent()方法返回被选元素的直接父元素,找到第一个P标签。  
var consignee   =$(name).text();      //获取P标签中的内容  
$("#con").val(consignee);         //赋值给模态框中的input     
var phone=$(obj).parent().find('p')[1];  
var mob=$(phone).text();  
$("#pho").val(mob);  
var address=$(obj).parent().find('p')[2];  
var addr=$(address).text();  
$("#add").val(addr);  
}</pre><br>  
<br>  
<p></p>  
<br>  
<br>  
<p></p>  
<p><span style="font-size:18px"><br>  
</span></p>  
<pre></pre>  
     
</pre>